* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  --bg-color: #9452ff;
  --border-color: #8234ff;
}
body {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  width: 60%;
  height: auto;
  min-width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px black;
}
.container .heading h1 {
  font-size: 3rem;
  text-transform: uppercase;
  background-color: var(--bg-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px;
}
.container .jokes p {
  font-size: 2rem;
  padding: 10px;
  margin: 10px 0;
  color: black;
  text-align: center;
}
.container .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.buttons .icons img {
  width: 40px;
  margin: 0 2px;
}

.buttons .btn {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 2px;
  padding: 10px;
  background-color: var(--bg-color);
  color: white;
  border: 2px solid var(--border-color);
}
.btn:hover {
  background-color: rgb(116, 13, 226);
}
